<div class="content">
    <form class="box" ng-submit="$ctrl.tryToLogin()">
        <h4>Welcome to The square !</h4>
        <br> <br>
        <h1>Login</h1>
        <input type="text" name="" placeholder="Username" ng-model="$ctrl.username" required>
        <input type="password" name="" placeholder="Password" ng-model="$ctrl.password" required>
            <button type="submit">Login</button>
        <br>
        <button type="button" ng-click="$ctrl.goSignIn()">Create an account </button>
    </form>
</div>