<div class="content">
    <form class="box" ng-submit="$ctrl.validate()">
        <h4>Account creation</h4>
        <br><br>
        <input type="text" name="" placeholder="Username" ng-model="$ctrl.newUser.login" required>
        <input type="password" name="" placeholder="Password" ng-model="$ctrl.newUser.password" required>
        <input type="password" name="" placeholder="Confirm password" ng-model="$ctrl.newUser.confirmPassword" required>
        <input style="" type="file" id="files" name="files[]"/>
        <input type="text" name="" placeholder="Name" ng-model="$ctrl.newUser.name" required>
        <input type="text" name="" placeholder="Surname" ng-model="$ctrl.newUser.surname" required>
        <input type="text" name="" placeholder="birth date" ng-model="$ctrl.newUser.birthDate" required>
        <input type="text" name="" placeholder="Country" ng-model="$ctrl.newUser.country" required>
        <input type="text" name="" placeholder="City" ng-model="$ctrl.newUser.city" required>
        <div class="row">
            <button type="button" ng-click="$ctrl.cancel()">Cancel</button>
            <button type="submit">create account !</button>
        </div>
    </form>
</div>