<style>
    .meDiv {
        height: 390px;
        width: 100%;
        background-color: rgba(0, 0, 20, 0.7);
        margin-right: 10px;
        padding-top: 15px;
        padding-left: 15px;
        border-top-left-radius: 15px;
    }

    .companieDiv {
        height: 400px;
        width: 100%;
        margin-top: 20px;
        background-color: rgba(0, 0, 20, 0.7);
        margin-right: 10px;
        padding-top: 15px;
        padding-left: 15px;
        border-top-left-radius: 15px;
        overflow: auto;
    }

    .friendsDiv {
        height: 390px;
        width: 100%;
        background-color: rgba(0, 0, 20, 0.7);
        margin-right: 10px;
        padding-top: 15px;
        padding: 15px;
        margin-bottom: 20px;
        border-top-left-radius: 15px;
        overflow: auto;
    }

    .jobsDiv {
        height: 390px;
        width: 100%;
        background-color: rgba(0, 0, 20, 0.7);
        margin-right: 10px;
        padding-top: 15px;
        padding: 15px;
        border-top-left-radius: 15px;
        overflow: auto;
    }

    .hobbiesDiv {
        height: 390px;
        padding-top: 15px;
        padding: 15px;
        width: 100%;
        background-color: rgba(0, 0, 20, 0.7);
        border-top-left-radius: 15px;
        overflow: auto;
        margin-bottom: 20px;
    }

    .skillsDiv {
        height: 390px;
        padding-top: 15px;
        padding: 15px;
        width: 100%;
        background-color: rgba(0, 0, 20, 0.7);
        border-top-left-radius: 15px;
        overflow: auto;
    }

    .photoProfile {
        width: 200px;
        height: 200px;
        border-top-left-radius: 10px;
        overflow: hidden;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: auto;
        height: 100%;
    }

    .subBox {
        border: 1px solid white;
        margin-bottom: 10px;
        height: 100px;
        border-top-left-radius: 5px;
        padding: 10px;
        display: flex;
        transition: color .6s ease-in;
    }

    .subBox:hover {
        border-color: #33CCCC;
        background-color: rgba(0, 0, 20, 0.4);
        -webkit-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        transition: background-color 100ms linear;
    }

    .photo {
        height: 80px;
        width: 80px;
    }

    .info {
        width: 100%;
        margin-left: 20px;
    }

    .inputPasswordProfile,
    .inputPasswordProfile {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid white;
        padding: 14px 10px;
        width: 180px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
    }


    ::placeholder {
        color: white;
        opacity: 1;
    }
</style>

<div class="content" style="margin-top:20px;">
    <div class="">
        <div class="row">
            <div class="col-md-3">
                <div class="meDiv">
                    <h2 style="color:white">Profile</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="photoProfile">
                                <img src="{{$ctrl.me.image}}">
                            </div>
                        </div>
                        <div class="col-md-5" style=" position: relative;">
                            <span>{{$ctrl.me.firstname}}</span>
                            <span>{{$ctrl.me.lastname}}</span>
                            <br>
                            <span>{{$ctrl.me.birthday}}</span>
                            <br>
                            <span>{{$ctrl.me.country}}</span>
                            <br>
                            <span>{{$ctrl.me.city}}</span>
                            <br>
                            <div>
                                <button style="margin-bottom: 10px;" class="btn btn-primary"
                                    ng-click="$ctrl.clickModify()">Change
                                    password</button>
                                <div ng-if="$ctrl.changePasswordBool === true">
                                    <input type="text" class="inputPasswordProfile" placeholder="New password">
                                    <button style="width: 100%" class="btn btn-primary"
                                        ng-click="$ctrl.validateChangePassword()">Valider</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="companieDiv">
                    <h2 style="color:white">companies</h2>
                    <div>
                        <div class="subBox" ng-repeat="companie in $ctrl.companies track by $index"
                            ng-click="$ctrl.moveToDetails('companie', companie.id)">
                            <div class="photo">
                                <img ng-src="{{companie.photo}}">
                            </div>
                            <div class="info">
                                <span>{{companie.name}}</span>
                                <div class="float-right">
                                    <button ng-if="!companie.isLike" style="margin-bottom: 5px;" class="btn btn-primary"
                                        ng-click="$ctrl.followClick(companie, 'companies'); $event.stopPropagation();"> <span
                                            class="fa fa-thumbs-up"></span></button>
                                    <br>
                                    <button ng-if="companie.isLike" class="btn btn-danger"
                                        ng-click="$ctrl.unfollowClick(companie, 'companies'); ; $event.stopPropagation();"><span
                                            class="fa fa-thumbs-down"></span></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="friendsDiv">
                    <h2 style="color:white">Friends</h2>
                    <div>
                        <div class="subBox" ng-repeat="friend in $ctrl.friends track by $index"
                            ng-click="$ctrl.moveToDetails('friend', friend.id)">
                            <div class="photo">
                                <img ng-src="{{friend.photo}}">
                            </div>
                            <div class="info">
                                <span>{{friend.firstname}} {{friend.lastname}}</span>
                                <div class="float-right">
                                    <button ng-if="!friend.isLike" style="margin-bottom: 5px;" class="btn btn-primary"
                                        ng-click="$ctrl.followClick(friend, 'follow'); $event.stopPropagation();"> <span
                                            class="fa fa-thumbs-up"></span></button>
                                    <br>
                                    <button ng-if="friend.isLike" class="btn btn-danger"
                                        ng-click="$ctrl.unfollowClick(friend, 'follow'); $event.stopPropagation();"><span
                                            class="fa fa-thumbs-down"></span></button>
                                </div>
                                <span>{{friend.surname}}</span>
                                <br>
                                <span>{{friend.age}}</span>
                                <br>
                                <span>{{friend.city}}</span>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="jobsDiv">
                    <h2 style="color:white">Jobs</h2>
                    <div>
                        <div class="subBox" ng-repeat="job in $ctrl.jobs track by $index"
                            ng-click="$ctrl.moveToDetails('job', job.id)">
                            <div class="photo">
                                <img ng-src="{{job.photo}}">
                            </div>
                            <div class="info">
                                <span>{{job.name}}</span>
                                <div class="float-right">
                                    <button ng-if="!job.isLike" style="margin-bottom: 5px;" class="btn btn-primary"
                                        ng-click="$ctrl.followClick(job, 'jobs'); $event.stopPropagation();"> <span
                                            class="fa fa-thumbs-up"></span></button>
                                    <br>
                                    <button ng-if="job.isLike" class="btn btn-danger"
                                        ng-click="$ctrl.unfollowClick(job, 'jobs'); $event.stopPropagation();"><span
                                            class="fa fa-thumbs-down"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-4">

                <div class="hobbiesDiv">
                    <h2 style="color:white">Hobbies</h2>
                    <div>
                        <div class="subBox" ng-repeat="hobbie in $ctrl.hobbies track by $index"
                            ng-click="$ctrl.moveToDetails('hobbie', hobbie.id)">
                            <div class="photo">
                                <img ng-src="{{hobbie.photo}}">
                            </div>
                            <div class="info">
                                <span>{{hobbie.name}}</span>
                                <div class="float-right">
                                    <button ng-if="!hobbie.isLike" style="margin-bottom: 5px;" class="btn btn-primary"
                                        ng-click="$ctrl.followClick(hobbie, 'hobbies'); $event.stopPropagation();"> <span
                                            class="fa fa-thumbs-up"></span></button>
                                    <br>
                                    <button ng-if="hobbie.isLike" class="btn btn-danger"
                                        ng-click="$ctrl.unfollowClick(hobbie, 'hobbies'); $event.stopPropagation();"><span
                                            class="fa fa-thumbs-down"></span></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="skillsDiv">
                    <h2 style="color:white">Skills</h2>
                    <div>
                        <div class="subBox" ng-repeat="skill in $ctrl.skills track by $index"
                            ng-click="$ctrl.moveToDetails('skill', skill.id)">
                            <div class="photo">
                                <img ng-src="{{skill.photo}}">
                            </div>
                            <div class="info">
                                <span>{{skill.name}}</span>
                                <div class="float-right">
                                    <button ng-if="!skill.isLike" style="margin-bottom: 5px;" class="btn btn-primary"
                                        ng-click="$ctrl.followClick(skill, 'skills'); $event.stopPropagation();"> <span
                                            class="fa fa-thumbs-up"></span></button>
                                    <br>
                                    <button ng-if="skill.isLike" class="btn btn-danger"
                                        ng-click="$ctrl.unfollowClick(skill, 'skills'); $event.stopPropagation();"><span
                                            class="fa fa-thumbs-down"></span></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>